@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}

body{
    font-family:poppins;
    background:#222831;
}
nav{
    background: #00ADB5;
    height: 80px;
    width:100%;
}
label.logo{
    color: #EEEEEE;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bolder;
}
nav ul{
    float:right;
    margin-right: 5px;
}
nav ul li{
display:inline;
line-height: 80px;
margin: 0 50px;
}
nav ul li a{
    color:white;
    font-size: 19px;
    padding:7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
}
a.active,a:hover{
    background:#393e4660;
    transition: .5s;
    border-radius: 3px;
}
.timer{
    font-family: 'Roboto mono', monospace;
    display:inline-block;
    padding: 70px 60px;
    border-radius: 30px;
    background: #393E46;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:0 0 20px rgba(0, 0, 0, 0.338);
} 
.timer__part{
    font-size: 60px;
    font-weight: lighter;
    color: #EEEEEE;
}

.timer__btn{
    width: 50px;
    height: 50px;
    margin-left:16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #00ADB5;
    cursor: pointer;
}
.timer__btn--start{
    background: #00b84c;
}
.timer__btn--stop{
    background: #ff0256;
}


.container {
    background-color: #393E46;
    width: 40%;
    min-width: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
}

.timer-display {
    position: relative;
    width: 92%;
    background: #393E46;
    left: 4%;
    font-family: 'Roboto mono', monospace;
    color: #EEEEEE;
    font-size: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    /* box-shadow: 0 0 20px rgba(65, 5, 145, 0.25); */
}

.buttons {
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 120px;
    height: 45px;
    background-color: #00ADB5;
    color: #fff;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.buttons button:nth-last-child(2) {
    background-color: #CD1818;
}

.buttons button:nth-last-child(1) {
    background-color: #F29727;
}

.buttons button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}